###
# This file is only here to make sure that something like
#
#    pip install -e .
#
# works as expected. Requirements can be found in setup.py.
###

Flask~=1.1.2
requests~=2.25.0
urllib3~=1.26.2
OctoPrint~=1.5.0rc3
setuptools~=50.3.2
numpy~=1.22.0
Werkzeug~=1.0.1
