{% extends 'layout.html' %}

{% block body %}
<h1>PrePrintService for OctoPrint</h1>
<br>
    <h2>Our mission:</h2>
    <h2><small>Supporting people around the world in prototyping and rapid manufacturing.</small></h2>

    <img src="static/Logo.jpg" alt="Tweaker-Logo" width= "314" height="350" align="left" />

    <br>
    <h3>Cite:</h3>
    If you use this PrePrintService or the Tweaker in a scientific contribution, please cite as follows:
    <br>
    <a href="https://doi.org/10.13140/RG.2.2.27593.36966"><img src="https://zenodo.org/badge/DOI/10.13140/RG.2.2.27593.36966.svg" alt="DOI"></a>

    <blockquote cite="https://datatracker.ietf.org/doc/html/rfc1149">
        <p>Christoph Schranz. (2016). Tweaker - Auto Rotation Module for FDM 3D Printing. https://doi.org/10.13140/RG.2.2.27593.36966
        </p>
      </blockquote>

    <h3>About this project:</h3>
    <p><a href="https://plugins.octoprint.org/plugins/preprintservice/">This</a> and the 
      Auto-Orientation software <a href="https://github.com/ChristophSchranz/Tweaker-3"> Tweaker-3</a> 
      were developed and are maintained by Christoph Schranz, Austria.
      More information are available in the Repository of the 
      <a href="https://github.com/ChristophSchranz/Tweaker-3"> Tweaker-Project</a>. </p>
    <br>
{% endblock %}
